<h1 class="text-danger">本の詳細</h1>
<h2 class="display-4 text-warning">タイトル：<%= @book.title %></h2>
<h2 class="display-4 text-warning">カテゴリー：<%= @book.category %></h2>
<h2 class="display-4 text-warning">コメント：<%= @book.comment %></h2>
<h2 class="display-4 text-warning">値段：<%= @book.price %>円</h2>
<h2 class="display-4 text-warning">投稿日時：<%= @book.created_at.strftime("%Y-%m-%d %H:%M") %></h2>
<br>
<h2 class="text-danger">この本に対する推薦文↓recommend!</h2>
<br>
<h2 class="display-3 recommend-text"><%=   @books_reviews.shuffle[0] %></h2>
<br>

<% if @book.user_id == @current_user.id %>
  <%= link_to "編集する", edit_book_path(@book),class:"mr-1" %>
  <%= link_to "削除する", book_path(@book),method: :delete %>
<% end %>
