<%= form_tag('/posts', method: :get) do %>
  <%= label_tag :内容 %>
  <%= text_field_tag :search_content %>
  <%= submit_tag '検索' %><%= link_to 'Clear', posts_path %>
<% end %>

<h1>投稿一覧</h1>
<% @posts.each do |post| %>
<p>タイトル：<%= link_to post.title,post_path(post) %></p>
<p>コンテンツ：<%= link_to post.content,post_path(post) %></p>

<br>
<% end %>

<%= paginate @posts %>
