<!DOCTYPE html>
<html>
  <head>
    <title>BasicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if session[:user_id] %>
    <h2>ユーザーID:<%= session[:user_id] %></h2>
    <h2><%= link_to "ユーザー一覧",posts_path %></h2>
    <h2><%= link_to "投稿一覧",posts_path %></h2>
    <h2><%= link_to "新規投稿",new_post_path %></h2>
    <h2><%= link_to "ログアウト",logout_path,method: :post %></h2>
    <% else %>
    <h2><%= link_to "新規登録",new_user_path %></h2>
    <h2><%= link_to "ログイン",login_path %></h2>
    <% end %>
    <% if flash[:notice] %>
    <h2><%= flash[:notice] %></h2>
    <% end %>
    <%= yield %>
  </body>
</html>
